
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
		background-color:rgb(63, 21, 21);
	display:inline-block;
}

span {
	display:block;
	margin-top:20%;
	margin-bottom:2%;	
	width:100%;
	height:fit-content;
	text-align:center;
	justify-content:center;
	font-size:20px;
}

p {
	font-size:72px;
	margin:auto;
	margin-left:53%;
	margin-top:25%;
	transform:translate(-50%, -50%);
  font-weight:bold;
}

.center {
  display:grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns:1fr 1fr;
}

.box {
	display:block;
	width:200px;
	height:200px;
	background-color:rgb(156, 54, 54);
	line-height:normal;
	justify-content:center;
	align-items:center;
	color:rgb(58, 56, 56);
	transition: 0.3s ease-in-out;
}

.box:hover {
  transform:scale(0.93,0.93);
	cursor:pointer;
	p{
	transform: scale(2.1,2.1);
	margin-left:53%;
	margin-top:25%;
	transform:translate(-50%, -50%);
	}
	}
