// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
		background-color:rgb(56, 128, 211);
}
/* sipe around th ez axis 50deg */
@keyframes rotate {
	0% {
			transform:rotateZ(0deg);
		transform:rotateY(72deg);
	}
	20% {
		transform:rotateZ(0deg);
		transform:rotateY(144deg);

  }
	40% {
		transform:rotateZ(0deg);
		transform:rotateY(216deg);

  }
	60% {
		transform:rotateZ(0deg);
		transform:rotateY(288deg);
    }
  80% {
		transform:rotateZ(0deg);
		transform:rotateY(360deg);
  }
	100% {
		transform:rotateZ(0deg);
		transform:rotateY(0deg);
	}
 }
}

.center {
  position: absolute;
  top: 25%;
  left: 25%;
	width:50%;
	height:50%;
	transform:rotateZ(25deg);
	background-image:linear-gradient(90deg, #29323c 0%, transparent 100%);
	border:2px solid white;
	border-left:10px solid blue;
	border-right:10px solid green;
	transform-origin:center;
	animation:rotate 3s ease-in;

}
