body {
    background-color: rgb(37, 148, 175);
    height:100vh ;
    width:100vw;
    position: relative;
}

.bar {
    width:6vw;
    height:40vh;
    margin-left: 50vw;
    margin-top:0vh;
    transform: translate(-50%, -50%);
    background-color: burlywood;
    border-radius: 40px;
    z-index:-1;
}

.circle {
    width:90px;
    height: 90px;
    background-color: red;
    border: 15px solid rgb(75, 75, 75);
    border-radius: 50%;
    margin-left: 40vw;
    margin-top:50vh;
    transform: translate(-50%, -50%);
    animation: wink 3S;
}

@keyframes wink{
  0% {
    transform: translate(0, 10);
    z-index: 30;
    }
  50% {
      transform: translate(200px, 0);
        z-index: 30;
    }
  75% {
       z-index: 30;
    }                     
  100% {
    transform: translate(0, 0);
    z-index:30; 
    }
}