body {
    background-color: rgb(37, 148, 175);
    height:100vh ;
    width:100vw;
}

.bar {
    width:6%;
    height:40vh;
    position: absolute;
    left: 50vw;
    top:40vh;
    transform: translate(-50%, -50%);
    background-color: burlywood;
    border-radius: 40px;
    z-index:1;
}

.circle {
    width:90px;
    height: 90px;
    background-color: red;
    border: 15px solid rgb(75, 75, 75);
    border-radius: 50%;
    position: absolute;
    left: 35vw;
    top:32vh;
    animation: wink 3.5s ease-in-out infinite;
    z-index:4;
}

@keyframes wink{
  0% {
        transform: translate(0, 0);
        z-index: -1;
    }
    50% {
        transform: translate(300px, 0);
    }       
    
  100% {
        transform: translate(0, 0);
    }
}