@mixin align{
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    @include align();
    background-color:rgb(24, 25, 22);
}

p {
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.card {
    display:grid;
    grid-template-columns: 45% 55%;
    grid-auto-rows:1fr;
    width:700px;
    height: 300px;
    background-image: url(avatar.png), linear-gradient(60deg, #29323c 0%, #485563 100%),linear-gradient(90deg, #29323c 0%, transparent 100%); 
    background-position: 450px , left ,right;
    background-repeat: no-repeat, no-repeat ,no-repeat;
    background-size: 480px 360px, cover ,480px 360px;
    align-content: center;
    position: fixed;
    justify-self: center;
    align-self: center;
    border: 40px double ;
    background-clip: content-box;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow-block:f;
}

@keyframes rotate{
    from {
        transform: rotateZ(360deg);
    }
}
/* todo find and use both ratios to the circle*/


.img{
    @include align();
    width:85.714%;
    height:90%;
    justify-self: center;
    margin: auto;
    background-image: url(https://images.unsplash.com/photo-1554151228-14d9def656e4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8ZmFjZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-position: -20px ;
    background-repeat: no-repeat;
    background-size: 320px 320px;
    border-radius: 50%;
    position: relative;
    #item1 {
        @include align();
        position: inherit;
        width:100%;
        height:100%;
        justify-content: center;
        line-height: normal;
        background-color: transparent;
        border: 10px solid transparent;
        border-bottom: 10px solid green;
        border-radius: 50%;
        animation: rotate 4s ease-in-out  alternate-reverse infinite;
     }
}

#internal {
    background-color: transparent;
    height:84%;
    width:84%;
    border:15px solid transparent;
    border-bottom: 10px solid #39ff14;
    animation: rotate 3s ease-in-out  infinite;
    border-radius:50%;
    justify-content: center;
    line-height: normal;
}

.text {
    color:aliceblue;
    width:100%;
    height: 100%;
    background-color: transparent; 
    border-left: 0px;
    position: relative;
    justify-content:center;
    display: inline-block;
    line-height:normal;
    padding-left:40px ;
    .title{  /* or 4n+1 */
        color:rgb(63, 21, 21);
    }
 }

 .itme {
     width:100px;
     height:100px;

     margin-top: 100px;
     background-image: linear-gradient(90deg, #29323c 0%, transparent 100%);

    }
