.basic-grid{
    justify-self: center;
    align-self: center;
    margin-top: 20vh;
    margin-left: 20vw;
}


@keyframes rot {
   from {transform: rotate(360deg)}
}

svg #start {
    animation: rot 4s ease-out;
}