body {
    width:100%;
    height: 100%;
    background-color: rgb(28, 173, 173);
}


@keyframes slide {
    50% {
        transform: translateX(96vw);
    }
    100% {
        transform: translateX(0);
    }
}

.staggering-grid-demo {
    width:100vw;
    height:20vh;
    background-color: grey;
    display:flex;
    flex-direction: row;
}

.el {
   top: 40%;
   left:40%;
   width:50px;
   height:50px;
   border-radius: 50%;
   background-color: red;
}

.el:nth-child(1){
  animation: slide 6s ease-in infinite 0.2s;
}   
.el:nth-child(2){
  animation: slide 6s ease-in infinite 0.4s;
}   
.el:nth-child(3){
  animation: slide 6s ease-in infinite 0.8s;
}   
.el:nth-child(4){
  animation: slide 6s ease-in infinite 1s;
}   
.el:nth-child(5){
  animation: slide 6s ease-in infinite 1.2s;
}   
