body {
    background-color: rgb(13, 111, 141);
    height:100vh ;
    width:100vw;
    margin: 0;
}

.box{
    width:200px;
    height:200px;
    background-color:lightblue ;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border: none;
    transition: 0.5s ease;
    &:hover{
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
    } 
}
